# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
学术英语文献阅读/56节课分组+文献报告+文献推文.xlsx
工创二/第一节课作业.docx
电子电路基础/电路 - 模拟与数字电子电路基础 - Anant Agarwal.pdf
信号与系统（全英文）/作业、探究题目/debug.log
工创二/课设/2-35-刘正浩-0-基于FloTHERM的一种小型移动计算装置散热器优化设计.docx
工创二/课设/2-35-刘正浩-0-基于FloTHERM的一种小型移动计算装置散热器优化设计（初始模型）.pack
工创二/课设/2-35-刘正浩-0-基于FloTHERM的一种小型移动计算装置散热器优化设计（最终优化结果）.pack
数字逻辑与微处理器系统设计/电子书/DigitalDesignandComputerArchitecture.pdf
数字逻辑与微处理器系统设计/电子书/FPGA数字逻辑设计教程VERILOG.pdf
数字逻辑与微处理器系统设计/电子书/VHDL程序设计教程 第3版.pdf
数字逻辑与微处理器系统设计/电子书/数字电子技术基础.pdf
数字逻辑与微处理器系统设计/电子书/数字设计 原理与实践CN.pdf
数字逻辑与微处理器系统设计/电子书/数字设计 原理与实践EN.pdf
数字逻辑与微处理器系统设计/电子书/数字设计和计算机体系结构.pdf
数字逻辑与微处理器系统设计/电子书/数字逻辑设计及应用.pdf
数字逻辑与微处理器系统设计/电子书/教材-Digital Design and Computer Architecture (2nd Ed).pdf
数字逻辑与微处理器系统设计/电子书/教材-数字设计和计算机体系结构（中文）.pdf
数字逻辑与微处理器系统设计/电子书/教材-数字设计原理与实践（中文）.pdf
数字逻辑与微处理器系统设计/电子书/教材-数字设计原理与实践（英文）.pdf
数字逻辑与微处理器系统设计/电子书/教材-数字设计和计算机体系结构（英文）.pdf
